<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"
  />
  <link href="./css/style.css" rel="stylesheet" />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
</head>
<body class="bg-global">
<div class="container bg-color-white">
  <nav class="navbar navbar-expand-lg navbar-light nav d-flex">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SpecFitApp</a>
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1 class="text-center mb-5">Welcome to trainer panel</h1>
  <div class="row">
    <div class="col-md-6 mr-3">
      <h3 class="mb-3">All training sessions</h3>
      <table class="table table-max-height-450">
        <thead>
        <tr>
          <th scope="col">Session date</th>
          <th scope="col">Session status</th>
          <th scope="col">Session client</th>
          <th scope="col">Session application</th>
        </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3 class="mb-3">Upcoming training sessions</h3>
      <table class="table table-max-height-450">
        <thead>
        <tr>
          <th scope="col">Session date</th>
          <th scope="col">Session status</th>
          <th scope="col">Session client</th>
          <th scope="col">Session application</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#" class="d-block px-3">
              <button class="btn btn-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </button>
            </form>
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#" class="d-block px-3">
              <button class="btn btn-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </button>
            </form>
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#" class="d-block px-3">
              <button class="btn btn-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </button>
            </form>
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#" class="d-block px-3">
              <button class="btn btn-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </button>
            </form>
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#" class="d-block px-3">
              <button class="btn btn-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </button>
            </form>
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>              <tr>
          <td>2023-01-01</td>
          <td>RESERVED</td>
          <td>IMEPREZIME</td>
          <td>
            <button
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
            >
              Click here
            </button>
            <!-- Modal -->
            <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Send your application
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="#">
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="height"
                                name="height"
                                placeholder="height"
                        />
                        <label for="height">Height</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                                type="number"
                                class="form-control"
                                id="width"
                                name="width"
                                placeholder="width"
                        />
                        <label for="width">Width</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="healthConditions"
                                multiple
                                aria-label="multiple select example"
                                id="healthConditions"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="healthConditions"
                        >Health conditions</label
                        >
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="equipment"
                                multiple
                                aria-label="multiple select example"
                                id="equipment"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="multiLanguages">Equipment</label>
                      </div>
                      <div class="form-floating mb-3">
                        <select
                                class="form-select h-100"
                                size="5"
                                name="goals"
                                multiple
                                aria-label="multiple select example"
                                id="goals"
                        >
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="goals">Goals</label>
                      </div>
                      <button class="btn btn-warning text-center">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
          </td>
          <td class="d-flex">
            <form action="#" class="d-block px-3">
              <button class="btn btn-success btn-sm">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
              </button>
            </form>
            <form action="#">
              <button class="btn btn-danger btn-sm">
                <i class="fa-solid fa-xmark"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button
              class="btn btn-warning"
              data-bs-toggle="modal"
              data-bs-target="#bookNewModal"
      >
        Book new session
      </button>
      <!-- Modal -->
      <div
              class="modal fade"
              id="bookNewModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Book new session
              </h5>
              <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="form-floating mb-3">
                  <input
                          type="datetime-local"
                          class="form-control"
                          id="date"
                          name="startTime"
                  />
                  <label for="date">Starting date</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                          type="number"
                          class="form-control"
                          id="duration"
                          name="duration"
                          placeholder="Duration"
                  />
                  <label for="duration">Duration</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                          type="number"
                          class="form-control"
                          id="price"
                          name="price"
                          placeholder="price"
                  />
                  <label for="price">Price</label>
                </div>
                <button class="btn btn-warning">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"
  ></script>
</body>
</html>
